In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib as plt
import math

In [38]:
np.random.seed(6)
# Why do you seed a random number?  So you get the same results over and over again.

#whole population
population_ages1 = stats.poisson.rvs(loc=18, mu=35, size=150000) #mu = avg size = sample size loc=std dev
population_ages2 = stats.poisson.rvs(loc=18, mu=10, size=150000)
population_ages = np.concatenate((population_ages1, population_ages2)) #concatenate = mash together


#sample from subset of that population
min_ages1 = stats.poisson.rvs(loc=18, mu=30, size=30) #change avg but not std dev
min_ages2 = stats.poisson.rvs(loc=18, mu=10, size=100)
min_ages = np.concatenate((min_ages1, min_ages2))

print( population_ages.mean() )
print( min_ages.mean() )

40.50155
32.3

In [39]:
#apply t-statistics
#Single sample t-test: Let's see how MN fits in the overall population of the whole US
stats.ttest_1samp(a=min_ages, popmean = population_ages.mean()) #if you don't know what this means, google ttest_1samp in scipy 
#statistic= number of std dev between what it should be, and the mean. pvalue should be below .05
#Statistically significant if pvalue is less than 0.05

Ttest_1sampResult(statistic=-10.704046598417447, pvalue=1.5883908410125876e-19)

In [40]:
#2-sample t-test: Let's see if there is a difference between MN and WI
np.random.seed(6) #Change the seed to change the significance of pvalue
wisc1 = stats.poisson.rvs(loc=18, mu=33, size=100)#increase sample size to change significance of pvalue
wisc2 = stats.poisson.rvs(loc=18, mu=13, size=30)
wisc_ages = np.concatenate((wisc1, wisc2))

print(wisc_ages.mean())

46.07692307692308

In [41]:
stats.ttest_ind(a=wisc_ages, b=min_ages, equal_var=False)

Ttest_indResult(statistic=11.789516395670137, pvalue=7.355309540341542e-26)

In [52]:
#paired t-test
np.random.seed(11)

before = stats.norm.rvs(scale=30, loc=100, size=35)

after = before + stats.norm.rvs(scale = 5, loc=-5, size=35)

weight_df = pd.DataFrame({'weight_before': before,
                         'weight_after': after,
                         'weight_change': after-before})
weight_df.describe()

       weight_before  weight_after  weight_change
count      35.000000     35.000000      35.000000
mean       98.394164     93.564667      -4.829497
std        26.620345     27.988154       4.952044
min        20.400443      7.666130     -13.420554
25%        84.653133     77.970613      -9.055756
50%        94.426740     89.317326      -4.540808
75%       117.869080    110.323975      -1.760827
max       152.483642    147.802001       5.783372

In [49]:
#run paired t-test
stats.ttest_rel(a=before, b=after)

Ttest_relResult(statistic=6.534426654158349, pvalue=3.493079563799927e-08)